<!-- Modal -->
		  <div class="modal fade" id="add_cleaner_" role="dialog" >
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Add Cleaner Form:</h4>
			        </div>
			        <div class="modal-body">
			        	<h3>New Cleaner:</h3>
			        	<form id='target__'>
			        		Name: <input name='cleaner' id='cleaner' size='20'></br>
			        		<input type="submit" value="Add New Cleaner">
			        	</form>
			        </div>
			        
			        </div> <!-- end of modal-body -->
			        
			        <div class="modal-footer">
			        	
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			        </div>
		      </div>
		      
		    </div>
		  </div>
