<!-- Modal -->
		  <div class="modal fade" id="edit_" role="dialog" >
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Edit Form:</h4>
			        </div>
			        <div class="modal-body">
			        	<h3>Matches:</h3>
			        	
			        	<form id='target'>
			        		Id: <input name='id' size='6' readonly 
			        		value=''>
			        		Frequency: <select name='freq' id="freqselect"></select>
			        		Next Clean: <input name='next_clean' type='date'
			        		 value=''></br>
			        		Cleaner: <select name='cleaner' id="cleanerselect"></select></br>
			        		<input type="submit" value="Update Record">
			        	</form>
			        </div>
			        <div class="modal-footer">
			        	<button type="button" class='delete_stair'>Delete Stair</button>
			        	<button type="button" class='add_latlng'>Add latlng</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			        </div>
			        </div> <!-- end of modal-body -->
			        
			        
		      </div>
		      
		    </div>
		  </div>
