<head>
	<% include ../views/partials/head %>
  <% include ../views/partials/header %>
  <% include ../views/modals/edit_form %>
  <% include ../views/modals/add_form %>
  <link rel='stylesheet' href='/stylesheets/edit.css' />
  <script src="/javascripts/edit.js"></script>
</head>

<body>
  <h3>Edit Stair List</h3>
  <a data-toggle="modal" href="#add_" >Add New Stair</a>
  
  <div class="table-responsive">
    <div class='csv'>
      <h3></h3>
        <table class='table'>
          <thead>
            <th>Stair</th>
            <th>Frequency</th>
            <th>Cleaner</th>
            <th>NextDue</th>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>
  </div>
	   
</body>

