<head>
	<% include ../views/partials/head %>
</head>
<body>
  <h3>Stair List</h3>
  <input type='file' id='fileLoader' accept='.csv'>
  <div class="table-responsive">
    <div class='csv'>
      <h3></h3>
        <table class='table'>
          <thead>
            <th>Stair</th>
            <th>Frequency</th>
            <th>Cleaner</th>
            <th>NextDue</th>
            <th>freq</th>
            <th>cleaner_id</th>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>
  </div>
	   
</body>

<script>
	$('#fileLoader').change(function(e){
//         console.log('in fileLoad');
         var fileName=e.target.files[0].name;
         console.log(fileName);
  
         $.get('home/download',{fileName: fileName},function(data){
    //        console.log('in get data:::::');
    //        console.log('length='+data.length)
    //        console.log('length='+data[0][0])
    var freq=['weekly', 'A_week', 'B_week', '_3weekly','_4weekly','Monthly'];
    var cleaner=['','Eric','Barbara Bernetek','Szilvia Halo','Calum Compton',
    				'Ken Littlewood', 'joanne']
    console.log('index value=='+freq.indexOf('B_week'))
            $('body').data({pdata:data}); // save pdata
            $('.csv').show();
            $('.csv h3').append(data.length);
            for(var i=0; i<data.length;i++){
              $('.csv .table tbody').append(
                '<tr><td>'+data[i][0]+'</td><td>'+data[i][1]+
                '</td><td>'+data[i][2]+'</td><td>'+
                '</td><td>'+data[i][3]+'</td><td>'+
                '</td><td>'+freq.indexOf(data[i][1])+'</td><td>'+
                cleaner.indexOf(data[i][2])+'</td></tr>')
            }//for
            console.log('json.str=='+JSON.stringify(data))
            insertToTable(data)
         })// get csv/download
       //selectTR();
    
       });

function insertToTable(data){
	$.post('home/insert',{data: JSON.stringify(data)}, function(res_data){
		console.log('in insert')
	})
}

</script>